<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Adress</h4>
                <P>Shyamal,satellite <br>
                    Ahmedabad-380015 </P>
            </div>
            <div class="col-md-4">
                <h4>Google Map</h4>
                <div class="map">
               <h3> </h3>
               </div>

            </div>
            <div class="col-md-4">
                <h4>Social Link</h4>
                <button class="btn-btn-outline-white"><i class="fa fa-facebook-f"></i></button>&nbsp;
                <button class="btn-btn-outline-white"><i class="fa fa-instagram"></i></button>&nbsp;
                <button class="btn-btn-outline-white"><i class="fa fa-twitter"></i></button>&nbsp;
                <button class="btn-btn-outline-white"><i class="fa fa-linkedin-square"></i></button>&nbsp;

            </div>
        </div>
    </div>
</div>